// menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 35px;
  cursor: pointer;
  @include easeOut;

  i {
    &:hover {
      color: $secondary-color;
      @include easeOut;
    }
  }

  // rotate menu icons
  &.close {
    transform: rotate(180deg);
  }
}

// Other menu Button
.other-btn {
  position: absolute;
  top: 35px;
  right: 90px;
  cursor: pointer;
  @include easeOut;

  i {
    &:hover {
      color: $secondary-color;
      @include easeOut;
    }
  }
}

#bar {
  display: inline;
}

#cross {
  display: none;
}

// Menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.96;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  // Nav
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($color: $primary-color, $amount: 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  // Menu items
  .nav-item {
    transform: translate3d(500px, 0, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}



